@font-face{
    font-family:ensa;
    src:url("../fonts/Titillium.ttf");
}
*{
    font-family:ensa;
}
body{
    margin:0;
    display: flex;
    overflow: hidden !important;
    min-height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom,white,#e5d7a7,#12a7a1);
}
#background {
    position: absolute;
    height: 100vh;
}
.hover_effect::before{
    content:"";
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:90%;
    transition:all 0.5s ease-in-out;
    background-color: #f9941e;
    z-index: 9;
    transform-origin:left;
    transform:scaleX(0);
}

.hover_effect:hover:before{
    transform:scaleX(1);
}

